<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.EnterpriseCertificationMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.EnterpriseCertification">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="filePath" column="filePath" jdbcType="VARCHAR"/>
            <result property="fileName" column="fileName" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="certType" column="certType" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="rejectReason" column="rejectReason" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,filePath,fileName,
        userId,remark,certType,
        createTime,updateTime,isDelete
    </sql>
</mapper>
