<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="studentNumber" column="studentNumber" jdbcType="VARCHAR"/>
            <result property="deptId" column="deptId" jdbcType="BIGINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="graduationGoes" column="graduationGoes" jdbcType="VARCHAR" />
            <result property="notGoesReason" column="notGoesReason" jdbcType="VARCHAR"/>
            <result property="graduationDate" column="graduationDate" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isEmployed" column="isEmployed" jdbcType="TINYINT"/>
            <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
            <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,deptId,graduationDate,graduationGoes,notGoesReason,
        userName,userAvatar,gender,isEmployed,
        studentNumber,phone,email,
        status,userProfile,userRole,
        createTime,updateTime,isDelete
    </sql>
</mapper>
